.container
	.h3.text-centered
		Request no. 
		=@request.id
		%small Please Confirm Your details before proceeding
	%table.table.table-bordered.table-hover
		%thead.black_th
			%tr
				%th Requirments
				%th Your Details

		%tbody
			%tr
				%td
				%td
			%tr
				%th Your Name
				%td= @request.fullname
			%tr
				%th Your Father's Name
				%td= @request.fathername
			%tr
				%th Your Email
				%td= @request.email
			%tr
				%th Your Contact
				%td= @request.contact
			%tr
				%th Your address
				%td= @request.state+', '+@request.city+', '+@request.zipcode
				%td= @request.address_1
			%tr
				%th Your enrollment number
				%td= @request.enrollment_no
			%tr
				%th Your Batch
				%td= @request.batch
			%tr
				%th Your Course
				%td= @request.course
			%tr
				%th Your College
				%td= @college.name
			%tr
				%th Institute Degree Recovery Fee
				%td= @institute.recfee
		
			%tr
				%th Payment Status
				%td= @request.payment_status

	=link_to 'edit request' , edit_request_path(@request) , class:'btn btn-primary'
	=link_to 'delete request' , request_path(@request), method: :delete , data: {Confirm: "Are you sure? This will delete ak your saved information."}  , class:'btn btn-danger'
	-if @request.payment_status == nil || @request.payment_status =='Failed' || @request.payment_status =='Sent'
		=link_to 'Make Payment' , payment_path(@request) , class: 'btn btn-success'
	-elsif @request.payment_status =='Pending'
		=link_to 'Payment Is Processing' , '#' , class: 'btn btn-default disabled'
	-else @request.payment_status =='Completed'
		=link_to 'Payment Is Completed' , '#' , class: 'btn btn-default disabled'
	